<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Crud 3.0
          <span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" routerLink='listar-empleado' href="listar-empleado">Lista Persona</a>
      <a class="nav-item nav-link" routerLink='agregar-empleado' href="agregar-empleado">Agregar Personas</a>
      
  </div>
</nav>
<div class="container">

  
<router-outlet></router-outlet>

</div>